<table class="table table--with-buttons">
  <thead>
    <tr>
      <th>
        Avatar
      </th>
      <th class="table__sort-header" appSort [sortField]="'name'">
        Name
        <img class="table__sort-arrow" src="../../../../assets/img/dropdown.png">
      </th>
      <th class="table__sort-header" appSort [sortField]="'company'">Company
        <img class="table__sort-arrow" src="../../../../assets/img/dropdown.png">
      </th>
      <th>
        Actions
      </th>
    </tr>
  </thead>

  <ng-container *ngIf="usersList && usersList.length; else notFound">
    <tbody>
      <tr
        *ngFor="let user of usersList"
        [routerLink]="['/users/details', user.id]"
      >
        <td>
          <img [src]="user.avatarUrl" />
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.company }}</td>
        <td>
          <div class="table__actions">
            <a
              [routerLink]="['/users/edit', user.id]"
              (click)="$event.stopPropagation()"
              ><button class="btn btn-primary" type="button">Edit</button></a
            >
            <button
              class="btn btn-primary"
              type="button"
              (click)="removeUserHandler(user.id)"
            >
              Remove
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </ng-container>
  <ng-template #notFound>
    <tbody>
      <tr>
        <td colspan="4" class="text-center">
          No users found.
        </td>
      </tr>
    </tbody>
  </ng-template>
</table>
