<div class="container">
  <div class="controls">
    <app-filter (search)="searchHandler($event)" [query]="searchQuery"></app-filter>
    <a [routerLink]="['/users/add-user']"
      ><button class="btn btn-primary" type="button">Create User</button></a
    >
  </div>

  <app-users-list
    [usersList]="(usersList$ | async)?.items"
    (removeUser)="removeUserHandler($event)"
  ></app-users-list>
  <app-paginator
    class="paginator"
    [pagination]="queryParams | async"
    [totalCount]="(usersList$ | async)?.totalCount"
  ></app-paginator>
</div>
