@import '_colors';

.btn {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  outline: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3em;
  border: none;
  border-radius: 3px;
  padding: 6px 20px;
  cursor: pointer;
  &-primary {
    color: #fff;
    background-color: $mainColor;
    &:disabled,
    &--disabled {
      cursor: not-allowed;
      opacity: 0.4;
    }
  }

}
